@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* globals.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFFFFF;
}

.navbar {
  background-color: #ECF6FE; /* bg-gray-200 */
  padding: 48px 24px 24px; /* 48px top, 24px bottom */
}

.footer {
  background-color: #2E2E37;
  padding: 48px 24px;
  color: white;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit the color from the parent element */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* 24px gap between links */
}

.nav-links  li {
  font-family: 'Familjen Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 3rem; /* 24px gap between links */
}

.footer-links  li {
  font-family: 'Familjen Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* Ensure the header takes full width and has specific margins */
.header-container {
  padding-top: 48px;
  text-align: center;
  background-color: #ECF6FE; /* Optional background color for contrast */
}

.main-title {
  font-family: 'Syne', sans-serif;
  max-width: 1000px; /* Constrain the width */
  margin: 0 auto; /* Center the container */
  font-weight: 700;
  font-size: 5rem; /* Adjust size as needed */
  margin-bottom: 2rem;
  line-height: 1; /* Remove spacing between lines */
  letter-spacing: -0.02em; /* Adjust letter spacing */
}

.subtitle {
  font-family: 'Familjen Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  gap: 1rem; /* Add space between buttons */
  justify-content: center; /* Center the buttons */
  margin-bottom: 2rem; /* Adjust as needed */
}

.signup-button {
  font-family: 'Familjen Grotesk', sans-serif;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: #FF3B30;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.signup-button:hover {
  background-color: #fc2317;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding: 13rem;
  border: 5px solid black;
  border-bottom: none; /* Only show the left, right, and bottom border */
  max-width: 800px;
  margin: 3rem auto 0; /* Center the container */
  border-top-left-radius: 10px; /* Round the top-left corner */
  border-top-right-radius: 10px; /* Round the top-right corner */
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.upload-button {
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1.25rem;
  border-radius: 10px;
  cursor: pointer;
  /* margin-bottom: 1rem; */
  transition: background-color 0.3s, color 0.3s;
}

.upload-button:hover {
  background-color: #a5a5a5;
}

.upload-text {
  font-family: 'Familjen Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.features-container {
  background-color: #FBEAEF; /* Optional background color */
  padding: 3rem 0;
}

.features-header {
  font-family: 'Syne', sans-serif;
  max-width: 800px; /* Constrain the width */
  text-align: center;
  margin: 0 auto; /* Center the container */
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.features-content-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.feature-row {
  display: flex;
  justify-content: space-between;
  max-width: 1300px; /* Adjusted to match the container */
  align-items: flex-start;
  text-align: left;
  margin-bottom: 4rem; /* Add spacing between rows */
}

.feature-content {
  flex: 1;
  padding: 2rem;
}

.feature-title {
  font-family: 'Syne', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.feature-body {
  font-family: 'Familjen Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.feature-list {
  list-style-type: none;
  padding: 0;
  columns: 2;
  column-gap: 0rem;
}

.feature-list li {
  font-family: 'Familjen Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1.5rem;
}

.feature-list li::before {
  content: '•'; /* Bullet point */
  position: absolute;
  left: 0;
  color: #FFA500; /* Optional color for the bullet */
}

.feature-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.feature-image img {
  max-width: 100%;
  border: 1px solid #ccc; /* Optional border for images */
  border-radius: 10px;
}

@media (max-width: 768px) {
  .feature-row {
    flex-direction: column; /* Stack items vertically on smaller screens */
    text-align: center; /* Center text on smaller screens */
  }

  .feature-content,
  .feature-image {
    padding: 1rem; /* Reduce padding on smaller screens */
  }

  .features-header {
    font-size: 2rem; /* Adjust header size for smaller screens */
  }
}

.examples-container {
  padding: 3rem;
  background-color: #ECFEEC;
  padding-left: 10rem;
  padding-right: 10rem;
}

.examples-title {
  font-family: 'Syne', sans-serif;
  text-align: center;
  padding-top: 24px;
  margin: 0 auto; /* Center the container */
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding-bottom: 24px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.example-block {
  display: block;
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  cursor: pointer;

}

.example-image {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
  position: relative;
  max-width: 750px;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.overlay-image {
  max-width: 100%;

  border-radius: 10px;
  height: auto;
}

.overlay-description {
  margin-top: 1rem;
}